*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/rep\ bg.jpg");
}

#header {
    background-image: linear-gradient(to bottom, rgb(63, 191, 255), rgb(31, 0, 159));
    height: 67px;
}

#header ul {
    display: flex;
    justify-content: right;
}

li {
    list-style-type: none;
    padding-right: 20px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.main-container h1 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 0, 0));
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255 ,255);
    margin-top: 20px;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
}

.card-container div {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255 ,255);
    padding: 10px;
    transition: 0.2s;
}

.card-container div:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

.card-container {
    text-align: center;
}

.card {
    border-radius: 8px;
    height: 500px;
}

.card p {
    margin-bottom: 25px;
    margin-top: 25px;
}

.card img {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    transition: 0.2s;
}

.card img:hover {
    height: 300px;
    width: 300px;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 100px;
}
